
*{
  margin:0px;
  font-family: "Ubuntu";
  list-style: none;
}
header{
  background-image: url("red-de-pesca-2196352.jpg");
  height: 50px;
  color:white;
  padding-top: 10px;
  padding-left: 5px;
}
a{
  text-decoration: none;
  color:white;
}
body{
}
section{
  display: inline-block;
  margin: 50px;
  padding:10px;
}
#b{
  padding:50px;
  position:absolute;

}
p{
  padding:75px;

}
#descargas{
  margin:10px;
  display: inline-block;
  background-image: url("pesca1.jpg");
  color:white;
  padding-right: 100px;
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  width:280px;
}
#descargas:hover{
  transition-duration: 100ms;
  height: 260px;
}
#info{
  margin:10px;
  display: inline-block;
  background-image: url("https://i.imgur.com/GadQzeQ.jpg");
  color:white;
  padding-right: 100px;
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  width:280px;
}
#info:hover{
  transition-duration: 100ms;
  height: 260px;
}
#github{
  margin:10px;
display: inline-block;
  background: url("fondo2.jpg");
  color:white;
  padding-right: 100px;
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  width:280px;
}
#github:hover{
  transition-duration: 100ms;
  height: 260px;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
li{
  display: inline-block;
  margin-top: 10px;
  margin-right: 25px;
}
